{% extends 'base.html.twig' %}

{% block title %}{{ page_title }} - OAuth School{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">

      <h1>{{ page_title }}</h1>

      {% if app.session.get('complete_' ~ base_route) %}
        <div class="alert alert-success alert-large">
          <i class="fas fa-check-circle"></i> You have completed the challenge!
        </div>
      {% endif %}

      <p>Use the Authorization Code flow to get an access token from your own Okta Developer account. The first person to complete the exercise will win a Yubikey of their choice!</p>

      <img style="max-width: 500px; display: block; margin: auto;" src="/img/yubikeys.png">

      <p>Everyone who completes the challenge will get a copy of Aaron Parecki's book <i><a href="https://amzn.to/3xH0krK">OAuth 2.0 Simplified</a></i>!</p>

      <p>To complete the challenge, the access token:
        <ul class="checklist">
          <li><i class="far fa-check-circle"></i> must be issued <i>before</i> {{ max_issued_at | date("F j, Y H:i") }} UTC</li>
          <li><i class="far fa-check-circle"></i> must be active (not expired)</li>
          <li><i class="far fa-check-circle"></i> must be issued to a confidential client</li>
          <li><i class="far fa-check-circle"></i> must last for more than 2 hours</li>
          <li><i class="far fa-check-circle"></i> must include the scope <code>developerday</code></li>
          <li><i class="far fa-check-circle"></i> must include the custom claim <code>favorite_color</code>, the value can be anything</li>
          <li><i class="far fa-check-circle"></i> must be from an Okta org that has not participated in this challenge before</li>
        </ul>
      </p>

      <a href="{{ path(base_route ~ '/1/start') }}" class="btn btn-primary">Get Started</a>

    </div>
  </div>
</div>

{% endblock %}
