{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="stylesheet" href="/bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css">
  <link href="/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
  {% block stylesheets %}{% endblock %}
  <style>
  .disabled {
    opacity: 0.4;
    pointer-events: none;
    filter: grayscale(1);
  }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">OAuth School</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/">Exercises</a></li>
        </ul>
        <ul class="navbar-nav">
          {% if app.session.get('issuer') %}
            <li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Start Over</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="/exercise/introduction">Get Started</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <script src="/bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js"></script>
  <script src="/scripts/jquery.js"></script>
  {% block javascripts %}{% endblock %}
  <script src="/scripts/pkce.js"></script>
  {% if fathom_src %}
    <script src="{{ fathom_src }}" data-site="{{ fathom_site }}" defer></script>
  {% endif %}
</body>
</html>
